.shop-form__label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.shop-form__control {
    display: block;
    width: 100%;
    padding: .3rem .7rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(var(--shop-app-color));
    appearance: none;
    background-color: rgb(var(--shop-app-background-color));
    background-clip: padding-box;
    border: 0.0625rem solid rgba(var(--shop-app-color), 0.2);
    border-radius: 0.3rem;
    outline: none;
}

.shop-form__control[type="range"] {
    height: 0.2rem;
    padding: 0;
}

.shop-form__text {
    margin-top: .25rem;
    font-size: .875em;
    opacity: 0.8;
}

.shop-form__checkbox__label, .shop-form__radio__label {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.shop-form__checkbox__label > .shop-form__checkbox__svg-icon {
    fill: currentColor;
    width: 1.32em;
    height: 1.32em;
    transform: scale(1.1);
    box-shadow: inset 0 0 0 0.2em currentColor;
    border-radius: 0.3em;
    stroke: currentColor;
    stroke-width: 15%;
    position: relative;
    top: 0.3em;
    margin-right: 0.2em;
}

.shop-form__checkbox__label > .shop-form__checkbox__svg-icon path {
    transform: scale(0.7);
    transform-origin: center;
    opacity: 0;
}

.shop-form__checkbox:checked + .shop-form__checkbox__label > .shop-form__checkbox__svg-icon path {
    opacity: 1;
}

.shop-form__radio__label > .shop-form__radio__svg-icon {
    fill: currentColor;
    width: 1.32em;
    height: 1.32em;
    transform: scale(1.1);
    box-shadow: inset 0 0 0 0.2em currentColor;
    border-radius: 1em;
    position: relative;
    top: 0.3em;
    margin-right: 0.2em;
}

.shop-form__radio__svg-icon circle {
    opacity: 0;
}

.shop-form__radio:checked + .shop-form__radio__label > .shop-form__radio__svg-icon circle {
    opacity: 1;
}

.shop-form__checkbox:checked + .shop-form__checkbox__label::after,
.shop-form__radio:checked + .shop-form__radio__label::after {
    opacity: 1;
}

.shop-form__checkbox:disabled + .shop-form__checkbox__label,
.shop-form__radio:disabled + .shop-form__radio__label {
    opacity: 0.5;
    cursor: auto;
}

.shop-form__success .shop-form__checkbox__label, .shop-form__success .shop-form__radio__label,
.shop-form__success .shop-form__label, .shop-form__success .shop-form__text {
    color: rgb(var(--shop-app-success-color));
}

.shop-form__success .shop-form__control {
    border-color: rgb(var(--shop-app-success-color));
}

.shop-form__success .shop-form__control[type="range"] {
    background-color: rgb(var(--shop-app-success-color));
}

.shop-form__danger .shop-form__checkbox__label, .shop-form__danger .shop-form__radio__label,
.shop-form__danger .shop-form__label, .shop-form__danger .shop-form__text {
    color: rgb(var(--shop-app-danger-color));
}

.shop-form__danger .shop-form__control {
    border-color: rgb(var(--shop-app-danger-color));
}

.shop-form__danger .shop-form__control[type="range"] {
    background-color: rgb(var(--shop-app-danger-color));
}