<div class="shop-login">
    <div class="shop-container shop-login__container">
        <form action="/" class="shop-login__card">
            <h1 class="shop-login__header">Вход</h1>
            <label class="shop-login__field shop-field">
                <span class="shop-field__text">Логин</span>
                <input class="shop-field__input" type="text" name="username">
            </label>
            <label class="shop-login__field shop-field">
                <span class="shop-field__text">Пароль</span>
                <input class="shop-field__input" type="password" name="password">
            </label>
            <div class="shop-login__nav">
                <a href="#" class="shop-login__forgot-link">Забыли пароль?</a>
                <a href="#" class="shop-login__register-link">Зарегистрироваться</a>
            </div>
            <button type="submit" class="shop-btn shop-login__submit">Войти</button>
        </form>
    </div>
</div>