.shop-s-collapse {
    --shop-s-collapse-height: 50rem;
    max-height: 0;
    overflow: hidden;
}

.shop-s-collapse__label {
    width: 100%;
    opacity: 0.6;
    padding-right: 0.7rem;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
}

.shop-s-collapse__label:hover {
    opacity: 0.4;
}

.shop-s-collapse__label:after {
    content: '';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    transform: translateY(-0.2em) rotate(-45deg);
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    margin-left: 0.1rem;
}

.shop-s-collapse__checkbox:checked ~ .shop-s-collapse {
    max-height: var(--shop-s-collapse-height);
}

.shop-s-collapse__checkbox:checked ~ .shop-s-collapse__label {
    display: none;
}