.shop-text {
    margin-top: .25rem;
    font-size: .875em;
    opacity: 0.8;
}

.shop-text--success {
    color: rgb(var(--shop-app-success-color));
}

.shop-text--danger {
    color: rgb(var(--shop-app-danger-color));
}