<footer class="shop-footer">
    <nav class="shop-footer__nav">
        <div class="shop-container">
            <div class="shop-footer__nav__lists">
                <ul class="shop-footer__nav__list">
                    <li class="shop-footer__nav__list__item shop-footer__nav__header">
                        Lorem ipsum
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                </ul>
                <ul class="shop-footer__nav__list">
                    <li class="shop-footer__nav__list__item shop-footer__nav__header">
                        Lorem ipsum
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                </ul>
                <ul class="shop-footer__nav__list">
                    <li class="shop-footer__nav__list__item shop-footer__nav__header">
                        Lorem ipsum
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                </ul>
                <ul class="shop-footer__nav__list">
                    <li class="shop-footer__nav__list__item shop-footer__nav__header">
                        Lorem ipsum
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                    <li class="shop-footer__nav__list__item">
                        <a href="#" class="shop-footer__nav__link">
                            Lorem ipsum dolor
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="shop-footer__copyright-nav">
        <div class="shop-container">
            <ul class="shop-footer__copyright-nav__list">
                <li class="shop-footer__copyright-nav__list__item">
                    <a href="#" class="shop-footer__copyright-nav__link">
                        Lorem ipsum
                    </a>
                </li>
                <li class="shop-footer__copyright-nav__list__item">
                    <a href="#" class="shop-footer__copyright-nav__link">
                        Lorem ipsum
                    </a>
                </li>
                <li class="shop-footer__copyright-nav__list__item shop-footer__copyright-nav__list__item--right-offset">
                    &copy; 2024 ООО "Lorem ipsum"
                </li>
            </ul>
        </div>
    </div>
</footer>