.shop-cart {
}

.shop-cart__header {
    display: flex;
    flex-wrap: wrap;
}

.shop-cart__description {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.shop-cart__header-products-count {
    font-size: 0.8rem;
    padding-top: 0.8rem;
    margin-left: 0.2rem;
}

.shop-cart__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.shop-cart__cards {
    display: block;
    width: calc(100% - 30rem);
    padding: 0 1rem;
}

.shop-cart__card {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0.2rem 0.6rem 0.2rem rgba(var(--shop-app-light-background-color), 1);
    border-radius: 1rem;
}

.shop-cart__remove-selecting-submit {
    margin-left: 1rem;
    border: none;
    background: none;
}

.shop-cart__remove-selecting-submit:active {
    color: rgb(var(--shop-app-danger-color));
}

.shop-cart__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.shop-cart__item + .shop-cart__item {
    border-top: 1px solid rgb(var(--shop-app-light-background-color));
}

.shop-cart__item__checkbox__wrapper .shop-form__checkbox__label {
    display: block;
    line-height: 0;
    border-radius: 0.25rem;
}

.shop-cart__item__checkbox__wrapper .shop-form__checkbox__svg-icon {
    margin: 0;
    top: 0;
    line-height: 0;
    transform: none;
}

.shop-cart__item__image__picture {
    display: block;
    padding-top: 120%;
    position: relative;
}

.shop-cart__item__image__wrapper {
    position: relative;
    width: 8.66rem;
    height: 8rem;
    display: block;
    padding: 0 1rem;
}

a.shop-cart__item__image__wrapper:hover {
    opacity: 0.8;
}

a.shop-cart__item__image__wrapper:focus {
    box-shadow: var(--shop-app-focus-box-shadow);
    outline: none;
}

.shop-cart__item__image__link {
    border-radius: 0.25rem;
    display: block;
}

a.shop-cart__item__image__link:focus {
    box-shadow: var(--shop-app-focus-box-shadow);
    outline: none;
}

.shop-cart__item__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    display: block;
    object-fit: cover;
    object-position: center;
}

.shop-cart__item__content-wrapper {
    margin-bottom: auto;
    flex-grow: 1;
    flex-basis: 10rem;
}

.shop-cart__item__name {
    font-weight: 600;
    padding-top: 0.5rem;
    display: block;
    text-decoration: none;
    color: inherit;
    border-radius: 0.25rem;
}

a.shop-cart__item__name:hover {
    opacity: 0.8;
}

a.shop-cart__item__name:focus {
    box-shadow: var(--shop-app-focus-box-shadow);
    outline: none;
}

.shop-cart__item__characteristics {
    font-weight: 500;
    opacity: 0.8;
    margin-top: 0.2rem;
}

.shop-cart__item__price-wrapper {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    padding-left: 2rem;
}

.shop-cart__item__prices {
    margin-bottom: auto;
    padding-top: 0.5rem;
}

.shop-cart__item__price {
    font-size: 1rem;
    font-weight: 700;
}

.shop-cart__item__old-price {
    text-decoration: line-through;
    opacity: 0.8;
    font-weight: 500;
}

.shop-cart__item__count {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.shop-cart__item__count__minus {
    display: block;
}

.shop-cart__item__count__minus__submit, .shop-cart__item__count__plus__submit {
    font-size: 1rem;
    padding: 0.5rem;
    height: 2rem;
    border: none;
    background-color: rgb(var(--shop-app-light-background-color));
    color: rgb(var(--shop-app-color));
}

.shop-cart__item__count__minus__submit:disabled, .shop-cart__item__count__plus__submit:disabled {
    opacity: 1;
}

.shop-cart__item__count__minus__submit {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.2rem;
}

.shop-cart__item__count__minus__submit:disabled, .shop-cart__item__count__plus__submit:disabled {
    color: rgba(var(--shop-app-color), 0.5);
}

.shop-cart__item__count__setter {
    display: block;
}

.shop-cart__item__count__label {
    display: block;
    position: relative;
}

.shop-cart__item__count__label.shop-loading {
    pointer-events: none;
    user-select: none;
}

.shop-cart__item__count__label.shop-loading .shop-cart__item__count__input {
    pointer-events: none;
    user-select: none;
    color: transparent;
}

.shop-cart__item__count__label.shop-loading::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    border: 0.25rem solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: shop-cart__item__count__label-loading-spinner 1s ease infinite;
}

@keyframes shop-cart__item__count__label-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.shop-cart__item__count__input {
    -moz-appearance: textfield;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.2rem;
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: rgb(var(--shop-app-light-background-color));
    color: rgb(var(--shop-app-color));
    outline: none;
}

.shop-cart__item__count__input:hover,
.shop-cart__item__count__input:focus {
    /*noinspection CssInvalidPropertyValue*/
    -moz-appearance: number-input;
}

.shop-cart__item__count__input::-webkit-outer-spin-button,
.shop-cart__item__count__input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.shop-cart__item__count__plus {
    display: block;
}

.shop-cart__item__count__plus__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.2rem;
}

.shop-cart__item__actions {
    margin-bottom: auto;
    padding-left: 2rem;
}

.shop-cart__item__favorite {
}

.shop-cart__item__favorite__btn {
    border: none;
    background: transparent;
    font-size: 1.4rem;
}

.shop-cart__item__favorite__icon {
}

.shop-cart__item__favorite__icon path:nth-child(1) {
    fill: transparent;
    transform: scale(1.1);
    transform-origin: center;
}

.shop-cart__item__favorite__btn.shop-active .shop-cart__item__favorite__icon path {
    fill: rgb(var(--shop-app-danger-color));
    opacity: 1;
}

.shop-cart__item__favorite__btn:active {
    color: rgb(var(--shop-app-danger-color));
}

.shop-cart__item__remove {
}

.shop-cart__selecting__checkbox__label {
    position: relative;
    top: -0.1rem;
}

.shop-cart__selecting__checkbox__label:focus {
    border-radius: 0.25rem;
}

.shop-cart__selecting__checkbox__label .shop-form__checkbox__svg-icon {

}

.shop-cart__item__remove-btn {
    border: none;
    background: transparent;
    font-size: 1.4rem;
}

.shop-cart__item__remove-btn:active {
    color: rgb(var(--shop-app-danger-color));
}

.shop-cart__sidebar {
    display: block;
    width: 30rem;
}

.shop-cart__sidebar__wrapper, .shop-cart__sidebar__coupons__wrapper {
    border-radius: 1rem;
    display: block;
    box-shadow: 0 0.2rem 0.6rem 0.2rem rgba(var(--shop-app-light-background-color), 1);
    margin-bottom: 1.5rem;
}

.shop-cart__sidebar__coupons__wrapper {
    padding: 1.5rem;
}

.shop-cart__form {
    display: none;
}

.shop-cart__sidebar__header {
    padding: 1.5rem;
    border-bottom: 1px solid rgb(var(--shop-app-light-background-color));
}

.shop-cart__sidebar__submit {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(var(--shop-app-success-color));
    color: white;
    border: none;
}

.shop-cart__sidebar__description {
    margin-top: 0.6rem;
    opacity: 0.8;
    font-weight: 500;
}

.shop-cart__sidebar__body {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.shop-cart__sidebar__body:after {
    content: '';
    display: block;
    border-bottom: 1px solid rgb(var(--shop-app-light-background-color));
    margin-top: 1rem;
}

.shop-cart__sidebar__row {
    display: flex;
    justify-content: space-between;
}

.shop-cart__sidebar__row + .shop-cart__sidebar__row {
    margin-top: 0.5rem;
}

.shop-cart__sidebar__total__label {
    font-size: 1.2rem;
    font-weight: 700;
}

.shop-cart__sidebar__total__weight {
    font-weight: 500;
    opacity: 0.8;
    padding-top: 0.3rem;
}

.shop-cart__sidebar__total__name {
    font-weight: 500;
}

.shop-cart__sidebar__total__value {
    font-weight: 700;
}

.shop-cart__sidebar__footer {
    padding: 1.5rem;
}

.shop-cart__sidebar__total__price__wrapper {
    display: flex;
    justify-content: space-between;
}

.shop-cart__sidebar__total__price__label {
    font-size: 1.2rem;
    font-weight: 700;
}

.shop-cart__sidebar__total__price__value {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(var(--shop-app-success-color));
}

.shop-cart__sidebar__coupons__wrapper {
}

.shop-cart__coupons {
    display: block;
    position: relative;
}

.shop-cart__coupons__input {
    display: block;
    padding: 1.5rem 1rem 0.5rem 1rem;
    border-radius: 0.8rem;
    font-size: 1rem;
}

.shop-cart__coupons__input::placeholder {
    color: transparent;
}

.shop-cart__coupons__input:placeholder-shown ~ .shop-cart__coupons__label {
    transform: scale(1) translate(0, 0);
}

.shop-cart__coupons__label, .shop-cart__coupons__input:focus ~ .shop-cart__coupons__label {
    display: block;
    pointer-events: none;
    position: absolute;
    left: 1rem;
    font-weight: 500;
    font-size: 1rem;
    top: 1rem;
    opacity: 0.8;
    transition: transform 0.3s;
}

.shop-cart__coupons__label, .shop-cart__coupons__input:focus ~ .shop-cart__coupons__label {
    transform: scale(0.8) translate(-0.55rem, -0.55rem);
}

.shop-cart__sidebar__coupons__submit {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    line-height: 2rem;
    vertical-align: center;
    text-align: center;
    padding: 0;
}

.shop-cart__sidebar__coupons__submit-icon {
    top: -0.1rem;
}

@media (min-width: 1400px) and (max-width: 1460px) {
    .shop-cart__sidebar {
        width: 26rem;
    }

    .shop-cart__cards {
        width: calc(100% - 26rem);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .shop-cart__sidebar {
        width: 26rem;
    }

    .shop-cart__cards {
        width: calc(100% - 26rem);
    }
}

@media (max-width: 1199px) {
    .shop-cart__sidebar {
        width: 24rem;
    }

    .shop-cart__cards {
        width: calc(100% - 24rem);
    }

    .shop-cart__item__content-wrapper {
        flex-basis: 12rem;
    }

    .shop-cart__item__count {
        margin-top: 0;
        padding-top: 1rem;
    }

    .shop-cart__item__price-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .shop-cart__item__prices {
        margin-right: 1rem;
        padding-top: 1rem;
    }

    .shop-cart__item__actions {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0.5rem;
        padding-left: 1rem;
        margin-left: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .shop-cart__cards, .shop-cart__sidebar {
        width: 100%;
    }

    .shop-cart__item__actions {
        margin-top: -4rem;
    }
}

@media (max-width: 767px) {
    .shop-cart__cards, .shop-cart__sidebar {
        width: 100%;
    }

    .shop-cart__item__actions {
        margin-top: 0;
    }
}

@media (max-width: 470px) {
    .shop-cart__item {
        padding-top: 0.5rem;
        align-items: flex-start;
    }

    .shop-cart__item + .shop-cart__item {
        padding-top: 1rem;
    }

    .shop-cart__item__checkbox__wrapper {
        display: none;
    }

    .shop-cart__item__image__wrapper {
        width: 6rem;
        display: block;
        padding: 0;
        height: auto;
        margin-right: 0.5rem;
    }

    .shop-cart__item__price-wrapper {
        flex-direction: row;
        padding-left: 0;
        width: 100%;
        align-items: center;
        padding-top: 0.5rem;
    }

    .shop-cart__item__prices {
        padding-top: 0;
    }

    .shop-cart__item__actions {
    }

    .shop-cart__item__content-wrapper {
        width: 100%;
        flex-basis: 9rem;
    }

    .shop-cart__item__name {
        padding-top: 0;
    }

    .shop-cart__item__count {
        padding-top: 0;
        margin-left: auto;
    }

    .shop-cart__item__characteristics {
        width: 100%;
        margin-left: 0;
    }

    .shop-cart__selecting__card {
        display: none;
    }

    .shop-cart__sidebar {
        padding: 0 1rem;
    }

    .shop-cart__cards {
        margin-bottom: 1rem;
    }
}