.shop-comparison {
    overflow-y: hidden;
    overflow-x: auto;
}

.shop-comparison__container {

}

.shop-comparison__nav__radio__input {
}

.shop-comparison__categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.shop-comparison__categories__btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.5rem 0.6rem 1.5rem;
    font-size: 1.1rem;
}

.shop-comparison__categories__btn__number {
    opacity: 0.5;
    margin-left: 0.5rem;
    font-weight: 500;
    display: inline-block;
}

.shop-comparison__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.shop-comparison__nav__radio__group {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.shop-comparison__nav__radio__label:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.shop-comparison__nav__radio__label:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.shop-comparison__btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.shop-comparison__btn__icon--svg {
}

.shop-comparison__left-btn, .shop-comparison__right-btn {
    opacity: 0;
    pointer-events: none;
}

.shop-comparison__rows {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 2rem 0;
}

.shop-comparison__row:before, .shop-comparison__row:after {
    content: "";
    display: block;
    height: 1px;
    min-width: calc((100vw - 1460px) / 2);
}

.shop-comparison__row:before {
    order: -1;
}

.shop-comparison__row:after {
    order: 9999;
}

.shop-comparison__row {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.shop-comparison__card, .shop-comparison__price, .shop-comparison__in-count, .shop-comparison__out-count, .shop-comparison__characteristic {
    max-width: 15rem;
    min-width: 15rem;
}

.shop-comparison__card {
    position: relative;
    padding: 1rem;
    background: rgb(var(--shop-app-background-color));
    z-index: 1;
}

.shop-comparison__card__drop {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    cursor: grab;
    border: 1px dashed transparent;
    border-radius: 1rem;
}

.shop-comparison__card__drop:hover {
    border-color: rgb(var(--shop-app-light-background-color));
}

.shop-comparison__to-product-link {
    position: relative;
    z-index: 3;
}

.shop-comparison__row-small-offset {
    padding-top: 1rem;
    display: block;
}

.shop-comparison__row-big-offset {
    padding-top: 2rem;
    display: block;
}

.shop-comparison__picture {
    position: relative;
    width: 5.625rem;
    height: 5.625rem;
    display: block;
    margin-bottom: 0.5rem;
    pointer-events: none;
}

.shop-comparison__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.shop-comparison__remove-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 1.8rem;
    border: none;
    background: none;
    outline: none;
    padding: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
    z-index: 3;
}

.shop-comparison__remove-btn:hover {
    opacity: 0.4;
}

.shop-comparison__sku {
    font-size: 1rem;
    opacity: 0.5;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.shop-comparison__name {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.shop-comparison__cart__form {
    display: block;
}

.shop-comparison__cart__btn {
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    z-index: 3;
}

.shop-comparison__price, .shop-comparison__in-count, .shop-comparison__out-count {
    line-height: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    opacity: 0.6;
}

.shop-comparison__bold {
    font-weight: 700;
    opacity: 1;
}

.shop-comparison__price {
    padding-bottom: 1rem;
}

.shop-comparison__in-count {
    padding-bottom: 0.25rem;
}

.shop-comparison__out-count {
    padding-bottom: 0.25rem;
}

.shop-comparison__characteristic {
    padding: 0.2rem 1rem;
}

.shop-comparison__characteristic-label {
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.6;
    margin-bottom: 0.1rem;
}

.shop-comparison__characteristic-value {
    font-size: 1rem;
    line-height: 1.2;
}

.shop-comparison__row-big-offset ~ .shop-comparison__row:hover {
    background-color: rgba(var(--shop-app-light-background-color), 0.5);
}

.shop-comparison__cleared-block {
    font-size: 1rem;
}

@media (min-width: 1400px) and (max-width: 1460px) {
    .shop-comparison__row:before, .shop-comparison__row:after {
        min-width: calc((100vw - 1320px) / 2);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .shop-comparison__row:before, .shop-comparison__row:after {
        min-width: calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .shop-comparison__row:before, .shop-comparison__row:after {
        min-width: calc((100vw - 960px) / 2);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .shop-comparison__row:before, .shop-comparison__row:after {
        min-width: calc((100vw - 720px) / 2);
    }
}

@media (max-width: 767px) {
    .shop-comparison__row:before, .shop-comparison__row:after {
        min-width: calc((100vw - 540px) / 2);
    }

    .shop-comparison__rows {
        padding: 0 0 1rem 0;
    }
}