.shop-product {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.shop-product-breadcrumb-nav {
    min-width: calc(100% - 19rem);
    max-width: calc(100% - 19rem);
    margin-bottom: 1rem;
}

.shop-product-head-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 19rem;
    max-width: 19rem;
}

.shop-product-images {
    position: relative;
    min-width: 36rem;
    max-width: 36rem;
    height: 35rem;
    margin-bottom: 2rem;
}

.shop-product-main {
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: calc(100% - 56rem);
    max-width: calc(100% - 56rem);
    margin-bottom: 2rem;
}

.shop-product-cards {
    min-width: 20rem;
    max-width: 20rem;
    margin-bottom: 2rem;
}

.shop-product-description {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

.shop-product-breadcrumb-item.shop-breadcrumb-item--active {
    display: none;
}


.shop-product-comparison, .shop-product-favorite {
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.shop-product-images-thumb {
    --shop-product-img-width: 100;
    --shop-product-img-height: 120;
    display: block;
    position: relative;
    width: 100%;
    padding-top: calc(var(--shop-product-img-height) / var(--shop-product-img-width) * 100%);
    cursor: pointer;
    border-radius: 0.5rem;
}

.shop-product-images-thumb + .shop-product-images-thumb {
    margin-top: 0.5rem;
}

.shop-product-images-thumb.shop-active {
    box-shadow: 0 0 0 2px rgba(var(--shop-app-color));
}

.shop-product-images-viewer {
    height: 35rem;
    width: 29.16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.shop-product-images-thumbs {
    width: calc(6rem + 2px);
    height: calc(100% + 2px);
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-left: -2px;
    margin-top: -2px;
}

.shop-product-images-thumbs-scroll {
    width: 10rem;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 2px 4rem 2px 2px;
}

.shop-product-images-full {
    display: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.shop-product-images-full.shop-active {
    display: flex;
}

.shop-product-images-full-img {
    width: 100%;
}

.shop-product-images-thumb-img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.shop-product-images-top, .shop-product-images-bottom {
    position: absolute;
    left: -2px;
    top: -2px;
    background-color: rgb(var(--shop-app-background-color));
    padding: 0 0 0.1rem 0;
    z-index: 1;
    width: calc(6rem + 4px);
    display: none;
}

.shop-product-images-top-btn, .shop-product-images-bottom-btn {
    width: 100%;
    background-color: rgb(var(--shop-app-background-color));
    border-color: rgb(var(--shop-app-background-color));
    padding: 0;
    font-size: 1.5rem;
}

.shop-product-images-top-btn:hover, .shop-product-images-bottom-btn:hover {
    background-color: rgb(var(--shop-app-light-background-color));
}

.shop-product-images-top-btn-icon-svg {
    transform-origin: center;
    transform: rotate(90deg);
}

.shop-product-images-bottom {
    padding: 0.1rem 0 0 0;
    top: auto;
    bottom: -2px;
}

.shop-product-images-bottom-btn {

}

.shop-product-images-bottom-btn-icon-svg {
    transform-origin: center;
    transform: rotate(-90deg);
}

.shop-product-images-thumbs-scroll-viewer {
    display: block;
}

.shop-product-images-top, .shop-product-images-bottom {
    display: block;
}

.shop-product-images-thumbs:hover ~ .shop-product-images-top,
.shop-product-images-thumbs:hover ~ .shop-product-images-bottom,
.shop-product-images-top:hover, .shop-product-images-bottom:hover {
    display: block;
}

.shop-product-title {
    font-size: 1.6rem;
}

.shop-product-attribute {
    margin-bottom: 0.6rem;
}

.shop-product-attribute-label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.shop-product-attribute-values {
    display: flex;
    flex-wrap: wrap;
}

.shop-product-attribute-value {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(var(--shop-app-color), 0.3);
    position: relative;
    max-width: 13rem;
    text-decoration: none;
    color: rgba(var(--shop-app-color), 1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.2rem 0.5rem;
    font-weight: 700;
}

.shop-product-attribute-value.shop-active {
    border-style: solid;
    border-color: rgba(var(--shop-app-color), 1);
    pointer-events: none;
}

.shop-product-attribute-value:not(.shop-active):hover {
    border-color: rgba(var(--shop-app-color), 0.8);
}

.shop-product-attribute-value.shop-disabled
{
    border-style: dotted;
    color: rgba(var(--shop-app-color), 0.5);
    pointer-events: none;
}

.shop-product-attribute-value.shop-disabled .shop-product-attribute-picture {
    opacity: 0.5;
}

.shop-product-attribute-picture {
    display: block;
    width: 4rem;
    height: 4rem;
    position: relative;
    margin: -0.2rem -0.5rem;
}

.shop-product-attribute-img {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 0.3rem;
    object-fit: contain;
    object-position: center;
}

.shop-product-characteristics {
    margin-bottom: 0.8rem;
}

.shop-product-characteristics-row {
    margin-bottom: 0.2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.shop-product-characteristics-label {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 50%;
    max-width: 50%;
}

.shop-product-characteristics-label:after {
    content: "";
    display: block;
    flex-basis: 1rem;
    min-width: 1rem;
    flex-grow: 1;
    border-bottom: 1px solid rgba(var(--shop-app-color), 0.3);
    transform: translateY(-0.3rem);
    margin-left: 0.5rem;
}

.shop-product-characteristics-value {
    display: block;
    min-width: 50%;
    max-width: 50%;
    padding-left: 0.5rem;
}

.shop-product-prices-card {

}

.shop-product-card {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0.2rem 0.6rem 0.2rem rgba(var(--shop-app-light-background-color), 1);
    border-radius: 1rem;
}

.shop-product-prices-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.shop-product-price {
    margin-right: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.shop-product-old-price {
    font-size: 1rem;
    text-decoration: line-through;
    opacity: 0.5;
}

.shop-product-prices-buttons {
    display: block;
    width: 100%;
}

.shop-product-submit {
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(var(--shop-app-success-color));
    color: white;
    border: none;
}

.shop-product-card-delivery {

}

.shop-product-delivery-title {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.shop-product-delivery-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shop-product-delivery-item {
    margin: 0 0 0.5rem 0;
    padding: 0 0 0 1rem;
    font-size: 0.9rem;
    position: relative;
    line-height: 1.2;
}

.shop-product-delivery-item:before {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 0.2rem;
    top: 0.5rem;
    background-color: rgba(var(--shop-app-color), 0.4);
}

.shop-product-description-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.shop-product-description-content {
    font-size: 1rem;
    font-weight: 400;
}


.shop-product-count {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.shop-product-count-minus {
    display: block;
}

.shop-product-count-minus-submit, .shop-product-count-plus-submit {
    font-size: 1rem;
    padding: 0.5rem;
    height: 2rem;
    border: none;
    background-color: rgb(var(--shop-app-light-background-color));
    color: rgb(var(--shop-app-color));
}

.shop-product-count-minus-submit:disabled, .shop-product-count-plus-submit:disabled {
    opacity: 1;
}

.shop-product-count-minus-submit {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.2rem;
}

.shop-product-count-minus-submit:disabled, .shop-product-count-plus-submit:disabled {
    color: rgba(var(--shop-app-color), 0.5);
}

.shop-product-count-setter {
    display: block;
}

.shop-product-count-label {
    display: block;
    position: relative;
}

.shop-product-count-label.shop-loading {
    pointer-events: none;
    user-select: none;
}

.shop-product-count-label.shop-loading .shop-product-count-input {
    pointer-events: none;
    user-select: none;
    color: transparent;
}

.shop-product-count-label.shop-loading::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    border: 0.25rem solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: shop-product-count-label-loading-spinner 1s ease infinite;
}

@keyframes shop-product-count-label-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.shop-product-count-input {
    -moz-appearance: textfield;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.2rem;
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: rgb(var(--shop-app-light-background-color));
    color: rgb(var(--shop-app-color));
    outline: none;
}

.shop-product-count-input:hover,
.shop-product-count-input:focus {
    /*noinspection CssInvalidPropertyValue*/
    -moz-appearance: number-input;
}

.shop-product-count-input::-webkit-outer-spin-button,
.shop-product-count-input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.shop-product-count-plus {
    display: block;
}

.shop-product-count-plus-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.2rem;
}

.shop-product-back {
    display: none;
    /*background-color: transparent;*/
    /*border-color: transparent;*/
}

@media (max-width: 1460px) {
    .shop-product-images {
        min-width: 30rem;
        max-width: 30rem;
        height: 27.6rem;
        margin-bottom: 1rem;
    }

    .shop-product-images-viewer {
        height: 27.6rem;
        width: 23rem;
    }

    .shop-product-main {
        min-width: calc(100% - 50rem);
        max-width: calc(100% - 50rem);
        margin-bottom: 1rem;
    }

    .shop-product-cards {
        margin-bottom: 1rem;
    }
}

@media (max-width: 1399px) {
    .shop-product-images {
        min-width: 20rem;
        max-width: 20rem;
        height: 28.5rem;
    }

    .shop-product-images:after {
        content: '';
        position: absolute;
        left: -2px;
        top: calc(100% + 2px);
        height: 1rem;
        width: calc(100% + 4px);
        background-color: rgba(var(--shop-app-background-color));
    }

    .shop-product-images-viewer {
        height: 24rem;
        width: 100%;
    }

    .shop-product-images-thumbs {
        width: 100%;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 24.5rem;
    }

    .shop-product-images-thumbs-scroll {
        width: 100%;
        padding: 2px;
    }

    .shop-product-images-thumbs-scroll-viewer {
        display: flex;
        width: fit-content;
    }

    .shop-product-images-thumb {
        height: 4rem;
        max-width: 3.3333rem;
        min-width: 3.3333rem;
        padding-top: 0;
    }

    .shop-product-images-thumb-img {
        object-position: center;
        object-fit: cover;
    }

    .shop-product-images-thumb + .shop-product-images-thumb {
        margin: 0 0 0 0.5rem;
    }

    .shop-product-images-top {
        top: calc(24.5rem - 2px);
        height: calc(4rem + 4px);
        width: 2rem;
    }

    .shop-product-images-top-btn, .shop-product-images-bottom-btn {
        width: 100%;
        height: 100%;
    }

    .shop-product-images-top-btn-icon-svg {
        transform: rotate(0deg);
    }

    .shop-product-images-bottom {
        top: calc(24.5rem - 2px);
        left: auto;
        right: -2px;
        height: calc(4rem + 4px);
        width: 2rem;
    }

    .shop-product-images-bottom-btn-icon-svg {
        transform: rotate(180deg);
    }

    .shop-product-main {
        min-width: calc(100% - 40rem);
        max-width: calc(100% - 40rem);
    }
}

@media (max-width: 1199px) {
    .shop-product-main {
        min-width: calc(100% - 20rem);
        max-width: calc(100% - 20rem);
    }
    .shop-product-cards {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .shop-product-breadcrumb-nav {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        display: none;
    }
    .shop-product-head-buttons {
        min-width: 100%;
        max-width: 100%;
    }

    .shop-product-back {
        display: block;
        margin-right: auto;
        margin-bottom: auto;
    }
}

@media (max-width: 767px) {
    .shop-product-images {
        min-width: 100%;
        max-width: 100%;
    }
    .shop-product-main {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .shop-product-images-viewer {
        height: auto;
        padding-top: 120%;
        position: relative;
        margin-bottom: 1rem;
    }

    .shop-product-images-full {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .shop-product-images {
        height: auto;
    }

    .shop-product-images-thumbs {
        position: relative;
        top: auto;
        left: auto;
        border-radius: 0;
    }

    .shop-product-images-top, .shop-product-images-bottom {
        top: auto;
        bottom: calc(1rem - 2px);
    }

    .shop-product-images-thumbs-scroll {
        padding: 0;
    }

    .shop-product-images-thumbs-scroll-viewer {
        padding: 2px;
    }

    .shop-product {
        padding-top: 0.5rem;
    }

    .shop-product-head-buttons {
        margin-bottom: 1rem;
    }
}

@media (max-width: 470px) {
    .shop-product-comparison, .shop-product-favorite, .shop-product-back {
        margin-bottom: 0;
    }
    .shop-product-comparison-btn, .shop-product-favorite-btn, .shop-product-back {
        border-color: transparent;
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    .shop-product-back-text, .shop-product-comparison-btn-text, .shop-product-favorite-btn-text {
        display: none;
    }

    .shop-product-images {
        /*margin-left: -1rem;*/
        /*margin-right: -1rem;*/
        /*min-width: calc(100% + 2rem);*/
        /*max-width: calc(100% + 2rem);*/
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .shop-product-images-full {
        /*border-radius: 0;*/
    }
    .shop-product-images-viewer {
        margin-bottom: 0;
    }
    .shop-product-images-thumbs {
        display: none;
    }
    .shop-product-images-top, .shop-product-images-bottom {
        display: none;
    }
}