<div class="shop-table__responsive">
    <table class="shop-table shop-table--hover">
        <thead class="shop-table__thead">
        <tr class="shop-table__tr">
            <th class="shop-table__th" scope="col">#</th>
            <th class="shop-table__th" scope="col">First</th>
            <th class="shop-table__th" scope="col">Last</th>
            <th class="shop-table__th" scope="col">Handle</th>
        </tr>
        </thead>
        <tbody class="shop-table__tbody">
        <tr class="shop-table__tr">
            <th class="shop-table__th" scope="row">1</th>
            <td class="shop-table__td">Mark</td>
            <td class="shop-table__td">Otto</td>
            <td class="shop-table__td">@mdo</td>
        </tr>
        <tr class="shop-table__tr shop-table--active">
            <th class="shop-table__th" scope="row">2</th>
            <td class="shop-table__td">Mark</td>
            <td class="shop-table__td">Otto</td>
            <td class="shop-table__td">@mdo</td>
        </tr>
        <tr class="shop-table__tr">
            <th class="shop-table__th" scope="row">3</th>
            <td class="shop-table__td" colspan="2">Larry the Bird</td>
            <td class="shop-table__td shop-table--active">@mdo</td>
        </tr>
        </tbody>
    </table>
</div>