<table class="shop-table">
    <thead class="shop-table__thead">
    <tr class="shop-table__tr">
        <th class="shop-table__th" scope="col">Кодовое слово</th>
        <th class="shop-table__th" scope="col">Дата и время активации</th>
    </tr>
    </thead>
    <tbody class="shop-table__tbody">
    <tr class="shop-table__tr">
        <td class="shop-table__td">LOREM22</td>
        <td class="shop-table__td">01.01.2024</td>
    </tr>
    <tr class="shop-table__tr">
        <td class="shop-table__td">LOREM24</td>
        <td class="shop-table__td">01.01.2024</td>
    </tr>
    </tbody>
</table>