<div class="shop-points">
    <div class="shop-points__card">
        <div class="shop-points__card__header">Баллы</div>
        <div class="shop-points__panel">
            <div class="shop-points__panel-wrapper">
                <div class="shop-points__panel-name">
                    Баллы такие то
                </div>
                <div class="shop-points__panel-value">
                    400
                </div>
            </div>
        </div>
        <div class="shop-points__panel">
            <div class="shop-points__panel-wrapper">
                <div class="shop-points__panel-name">
                    Баллы сякие то
                </div>
                <div class="shop-points__panel-value">
                    400
                </div>
            </div>
        </div>
        <div class="shop-points__panel">
            <div class="shop-points__panel-wrapper">
                <div class="shop-points__panel-name">
                    Баллы некие
                </div>
                <div class="shop-points__panel-value">
                    400
                </div>
            </div>
        </div>
    </div>
    <div class="shop-points__card">
        <label for="shop-points__add__input" class="shop-points__card__header">Купоны</label>
        <form action="/" class="shop-points__add__panel">
            <input id="shop-points__add__input" class="shop-points__add__input shop-input" type="text" placeholder="Кодовое слово купона">
            <button class="shop-points__add__btn shop-btn" type="submit">Применить</button>
        </form>
        <div class="shop-points__list-panel">
            <div class="shop-tabs">
                <input id="shop-tabs__0" class="shop-tabs__checkbox" type="radio" name="shop-tabs__1" hidden="hidden" checked>
                <nav class="shop-tabs__nav">
                    <label for="shop-tabs__0" class="shop-tabs__link">Ваши купоны</label>
                </nav>
                <div class="shop-tabs__content">
                    <div class="shop-tabs__pane">

                        <table class="shop-table">
                            <thead class="shop-table__thead">
                            <tr class="shop-table__tr">
                                <th class="shop-table__th" scope="col">Кодовое слово</th>
                                <th class="shop-table__th" scope="col">Дата и время активации</th>
                            </tr>
                            </thead>
                            <tbody class="shop-table__tbody">
                            <tr class="shop-table__tr">
                                <td class="shop-table__td">LOREM22</td>
                                <td class="shop-table__td">01.01.2024</td>
                            </tr>
                            <tr class="shop-table__tr">
                                <td class="shop-table__td">LOREM24</td>
                                <td class="shop-table__td">01.01.2024</td>
                            </tr>
                            </tbody>
                        </table>


                        <div style="display: flex">
                            <nav aria-label="Page navigation example" style="margin: 0 auto 0 0;">
                                <ul class="shop-pagination">
                                    <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">1</a></li>
                                    <li class="shop-pagination__item"><span class="shop-pagination__link">...</span></li>
                                    <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">7</a></li>
                                    <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">8</a></li>
                                    <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">9</a></li>
                                    <li class="shop-pagination__item"><span class="shop-pagination__link">...</span></li>
                                    <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">10</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>