<div class="shop-orders-list">
    <div class="shop-orders-list__item">
        <a href="#" class="shop-orders-list__item__header">
            <div class="shop-orders-list__item__header__left">
                <div class="shop-orders-list__item__label">Заказ от 15 октября</div>
                <div class="shop-orders-list__item__number">82312312-0064</div>
            </div>
            <div class="shop-orders-list__item__header__right">
                <div class="shop-orders-list__item__payment-status">оплачено</div>
                <div class="shop-orders-list__item__price">2 501 руб.</div>
            </div>
        </a>
        <div class="shop-orders-list__item__main">
            <div class="shop-orders-list__item__delivery-status">
                Доставка курьером
                <div class="shop-orders-list__item__receiving-status">
                    В пути
                    <svg class="shop-icon--svg" opacity="0.8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </div>
            </div>
            <div class="shop-orders-list__item__content">
                Дата доставки: 21 октября в 17:03
            </div>
            <a href="#" class="shop-btn">
                Открыть заказ
            </a>
        </div>
        <a href="#" class="shop-orders-list__item__images">
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
        </a>
    </div>
    <div class="shop-orders-list__item">
        <a href="#" class="shop-orders-list__item__header">
            <div class="shop-orders-list__item__header__left">
                <div class="shop-orders-list__item__label">Заказ от 15 октября</div>
                <div class="shop-orders-list__item__number">82312312-0064</div>
            </div>
            <div class="shop-orders-list__item__header__right">
                <div class="shop-orders-list__item__payment-status">оплачено</div>
                <div class="shop-orders-list__item__price">2 501 руб.</div>
            </div>
        </a>
        <div class="shop-orders-list__item__main">
            <div class="shop-orders-list__item__delivery-status">
                Доставка курьером
                <div class="shop-orders-list__item__receiving-status">Получен</div>
            </div>
            <div class="shop-orders-list__item__content">
                Дата доставки: 21 октября в 17:03
            </div>
            <a href="#" class="shop-btn">
                Открыть заказ
            </a>
        </div>
        <a href="#" class="shop-orders-list__item__images">
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360.svg" alt="Product 1">
                </picture>
            </div>
            <div class="shop-orders-list__item__images__item">
                <picture class="shop-orders-list__item__images__item__picture">
                    <img class="shop-orders-list__item__images__item__img" src="./svg/300x360_2.svg" alt="Product 2">
                </picture>
            </div>
        </a>
    </div>
</div>