<section class="shop-slider">
    <div class="shop-slider__viewport">
        <div class="shop-slider__container">
            <div class="shop-slider__slide">
                <div class="shop-slider__slide__content">
                    <a href="#" class="shop-slider__slide__link">
                        <picture class="shop-slider__slide__picture">
                            <img class="shop-slider__slide__img" src="./svg/720x300.svg" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="shop-slider__slide">
                <div class="shop-slider__slide__content">
                    <a href="#" class="shop-slider__slide__link">
                        <picture class="shop-slider__slide__picture">
                            <img class="shop-slider__slide__img" src="./svg/720x300.svg" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="shop-slider__slide">
                <div class="shop-slider__slide__content">
                    <a href="#" class="shop-slider__slide__link">
                        <picture class="shop-slider__slide__picture">
                            <img class="shop-slider__slide__img" src="./svg/720x300.svg" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="shop-slider__slide">
                <div class="shop-slider__slide__content">
                    <a href="#" class="shop-slider__slide__link">
                        <picture class="shop-slider__slide__picture">
                            <img class="shop-slider__slide__img" src="./svg/720x300.svg" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="shop-slider__slide">
                <div class="shop-slider__slide__content">
                    <a href="#" class="shop-slider__slide__link">
                        <picture class="shop-slider__slide__picture">
                            <img class="shop-slider__slide__img" src="./svg/720x300.svg" alt="">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button class="shop-slider__next"></button>
    <button class="shop-slider__prev"></button>
</section>