.shop-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.shop-slider__next, .shop-slider__prev {
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    width: calc(50% - 360px);
    outline: none;
}

.shop-slider__next:focus, .shop-slider__prev:focus {
    box-shadow: none;
    outline: none;
}

.shop-slider__prev {
    left: 0;
}

.shop-slider__next {
    right: 0;
}

.shop-slider__viewport {
    overflow: hidden;
}

.shop-slider__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
}

.shop-slider__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 720px;
    width: 720px;
    height: 300px;
    min-width: 0;
}

.shop-slider__slide__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    transform: scale(1) translateX(0%);
    transition: transform 0.3s, opacity 0.3s;
}

.shop-slider__slide__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-slider__slide.shop-slider__slide--prev .shop-slider__slide__content,
.shop-slider__slide.shop-slider__slide--next .shop-slider__slide__content {
    opacity: 0.5;
}

.shop-slider__slide.shop-slider__slide--prev .shop-slider__slide__content {
    transform: scale(0.88) translateX(5%);
}

.shop-slider__slide.shop-slider__slide--next .shop-slider__slide__content {
    transform: scale(0.88) translateX(-5%);
}

.shop-slider:not(.shop-slider--init) .shop-slider__slide {
    transform: translateX(50%);
}

.shop-slider:not(.shop-slider--init) .shop-slider__slide:not(:first-child) .shop-slider__slide__content {
    transform: scale(0.88) translateX(-5%);
    opacity: 0.5;
}

.shop-slider:not(.shop-slider--init) .shop-slider__container .shop-slider__slide:last-child {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
}

.shop-slider:not(.shop-slider--init) .shop-slider__container .shop-slider__slide:last-child .shop-slider__slide__content {
    transform: scale(0.88) translateX(5%);
    opacity: 0.5;
}