<ol class="shop-breadcrumb">
    <li class="shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
    <li class="shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
    <li class="shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
    <li class="shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
    <li class="shop-breadcrumb__item shop-breadcrumb__item--active" aria-current="page">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </li>
</ol>