<input id="shop-support__menu__checkbox" type="checkbox" hidden>
<div class="shop-app">
    <div class="shop-support">
        <label for="shop-support__menu__checkbox" class="shop-support__menu__btn shop-btn">
            <span class="shop-support__menu__btn__text">Навигация</span>
            <span class="shop-support__menu__burger"></span>
        </label>
        <div class="shop-support__menu">
            <div class="shop-menu">
                <ul class="shop-menu__list">
                    <li class="shop-menu__list__item">
                        <a href="#" class="shop-menu__list__link">
                            Поиск и выбор товаров
                        </a>
                    </li>
                    <li class="shop-menu__list__item">
                        <a href="#" class="shop-menu__list__link">
                            Как выбрать из нескольких моделей
                        </a>
                    </li>
                    <li class="shop-menu__list__item">
                        <input id="shop-menu__list__checkbox--1" class="shop-menu__list__checkbox" type="checkbox" hidden="hidden" checked>
                        <label for="shop-menu__list__checkbox--1" class="shop-menu__list__label"></label>
                        <a href="#" class="shop-menu__list__link">
                            Поиск и выбор товаров
                        </a>
                        <ul class="shop-menu__list" style="--shop-items-count: 3">
                            <li class="shop-menu__list__item shop-active">
                                <a href="#" class="shop-menu__list__link">
                                    Поиск и выбор товаров
                                </a>
                            </li>
                            <li class="shop-menu__list__item">
                                <a href="#" class="shop-menu__list__link">
                                    Как выбрать из нескольких моделей
                                </a>
                            </li>
                            <li class="shop-menu__list__item">
                                <a href="#" class="shop-menu__list__link">
                                    Как выбрать товар в конкретном магазине
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="shop-menu__list__item">
                        <a href="#" class="shop-menu__list__link">
                            Поиск и выбор товаров
                        </a>
                    </li>
                    <li class="shop-menu__list__item">
                        <a href="#" class="shop-menu__list__link">
                            Как выбрать из нескольких моделей
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shop-support__content">
            <h1 class="shop-h1">
                Поиск и выбор товаров
            </h1>
            <section>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>
            </section>
            <section>
                <h2 class="shop-h2">
                    Как выбрать из нескольких моделей
                </h2>
                <h3 class="shop-h3">
                    Как выбрать товар в конкретном магазине
                </h3>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>
                <p class="shop-p">
                    <a href="./svg/1428x300.svg" data-fancybox="article" data-caption="Caption #1">
                        <img class="shop-img" src="./svg/1428x300.svg" loading="lazy" alt="Caption #1" />
                    </a>
                </p>
                <p class="shop-p">
                    <a href="./svg/1428x300.svg" data-fancybox="article" data-caption="Caption #1">
                        <img class="shop-img" src="./svg/1428x300.svg" loading="lazy" alt="Caption #1" />
                    </a>
                </p>

                <h3 class="shop-h3">
                    Как выбрать товар в конкретном магазине
                </h3>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>
            </section>
            <section>
                <h2 class="shop-h2">
                    Как выбрать из нескольких моделей
                </h2>
                <h3 class="shop-h3">
                    Как выбрать товар в конкретном магазине
                </h3>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>
                <p class="shop-p">
                    <a href="./svg/720x300.svg" data-fancybox="article" data-caption="Caption #1">
                        <img class="shop-img" src="./svg/720x300.svg" loading="lazy" alt="Caption #1" />
                    </a>
                </p>

                <h3 class="shop-h3">
                    Как выбрать товар в конкретном магазине
                </h3>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>
            </section>
            <section>
                <h2 class="shop-h2">
                    Как выбрать из нескольких моделей
                </h2>
                <h3 class="shop-h3">
                    Как выбрать товар в конкретном магазине
                </h3>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>

                <h3 class="shop-h3">
                    Как выбрать товар в конкретном магазине
                </h3>
                <p class="shop-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi ex excepturi impedit ipsum itaque laborum libero magnam magni molestias nesciunt, officiis reprehenderit sed vel veritatis voluptate voluptates voluptatibus voluptatum?
                </p>
            </section>
        </div>
    </div>
</div>