.shop-support {
    display: flex;
}

.shop-support__menu {
    width: 17rem;
    min-width: 17rem;
    padding-right: 2rem;
}

.shop-support__content {
    width: calc(100% - 17rem);
    min-width: calc(100% - 17rem);
}

.shop-support:not(.shop-support__fancybox--loaded) a[data-fancybox] {
    pointer-events: none;
}

.shop-support__menu__btn {
    display: none;
}

.shop-support__menu__btn__text {
    display: inline-block;
    margin-right: auto;
}

.shop-support__menu__burger {
    position: relative;
    display: inline-block;
    width: 1.25rem;
    height: 0.875rem;
    user-select: none;
    margin-left: 0.5rem;
    margin-bottom: -0.1rem;
}

.shop-support__menu__burger::before,
.shop-support__menu__burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 0.125rem;
    border-radius: 0.625rem;
    background: rgb(var(--shop-app-color));
}

.shop-support__menu__burger::before {
    top: 0;
    box-shadow: 0 0.375rem 0 rgb(var(--shop-app-color));
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.shop-support__menu__burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

#shop-support__menu__checkbox:checked ~ .shop-app .shop-support__menu__burger::before {
    top: 0.375rem;
    transform: rotate(45deg);
    box-shadow: 0 0.375rem 0 rgba(var(--shop-app-backdrop-color), 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

#shop-support__menu__checkbox:checked ~ .shop-app .shop-support__menu__burger::after {
    bottom: 0.375rem;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

@media (max-width: 991px) {
    .shop-support {
        display: block;
    }

    .shop-support__menu, .shop-support__content {
        width: 100%;
        min-width: 100%;
        padding-right: 0;
    }

    .shop-support__menu__btn {
        display: inline-block;
    }
}

@media (min-width: 470px) and (max-width: 991px) {
    .shop-support__menu {
        margin-bottom: 0.5rem;
    }

    .shop-support__menu__btn {
        background: transparent;
        border-color: transparent;
        padding: 0;
    }

    .shop-support__menu__burger {
        display: none;
    }
}

@media (max-width: 470px) {
    .shop-support__menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        display: none;
        padding: 3.5rem 1rem 4rem 1rem;
        overflow: auto;
        font-size: 1rem;
    }

    .shop-support__menu:before {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 2px solid rgba(var(--shop-app-color), 0.1);
    }

    .shop-support__menu__btn {
        position: fixed;
        right: 1rem;
        bottom: 4rem;
        box-shadow: 0 0 1rem 0.5rem rgba(var(--shop-app-light-background-color), 0.5);
        display: flex;
        padding: 0.5rem 1rem;
        transition: bottom 0.4s, background-color 0.4s;
        background-color: rgb(var(--shop-app-background-color));
    }

    .shop-support__menu__burger {
        position: relative;
        top: 0.05rem;
    }

    .shop-support__menu__btn__text {
        font-size: 1rem;
    }

    #shop-support__menu__checkbox:checked ~ .shop-app .shop-support__menu {
        display: block;
        background-color: rgb(var(--shop-app-background-color));
    }

    #shop-support__menu__checkbox:checked ~ .shop-app .shop-support__menu__btn {
        z-index: 205;
        bottom: calc(100% - 3rem);
        background-color: rgb(var(--shop-app-light-background-color));
    }

    #shop-support__menu__checkbox:checked ~ .shop-app .shop-support__menu__btn__text {
    }
}