<div class="shop-sidebar-catalog shop-container"
     style="--shop-sidebar-catalog-count: 1; grid-template-areas: 'A B';">

    <input id="shop-sidebar-catalog__radio-n" class="shop-sidebar-catalog__radio" type="radio"
           name="shop-sidebar-catalog__radio" hidden>
    <label for="shop-sidebar-catalog__radio-n" class="shop-sidebar-catalog__label" style="grid-area: A;">
        <svg class="shop-sidebar-catalog__label__icon shop-icon--svg" xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24" viewBox="0 0 24 24">
            <path d="m12 5.69 5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3 2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/>
        </svg>
        Одежда и обувь
    </label>
    <div class="shop-sidebar-catalog__content" style="grid-area: B;">
        <div class="shop-sidebar-catalog__header">
            <a href="#" class="shop-sidebar-catalog__header__link">
                <svg class="shop-sidebar-catalog__header__icon shop-icon--svg"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="m12 5.69 5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3 2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/>
                </svg>
                <span class="shop-sidebar-catalog__header__text">Одежда и обувь</span>
                <img class="shop-sidebar-catalog__header__img" src="./svg/300x360.svg" alt="">
            </a>
        </div>
        <div class="shop-sidebar-catalog__submenu">
            <div class="shop-sidebar-catalog__submenu__item">
                <input id="shop-sidebar-catalog__submenu__item--n-collapse-checkbox--n"
                       class="shop-sidebar-catalog__submenu__item__collapse__checkbox" type="checkbox"
                       hidden="hidden">
                <div class="shop-sidebar-catalog__submenu__item__collapse">
                    <a href="#" class="shop-sidebar-catalog__submenu__header-link">
                        Всё для Нового года
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные 1231233 2985239857 25872398 5798327
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные
                    </a>
                    <a href="#" class="shop-sidebar-catalog__submenu__link">
                        Ёлки искусственные
                    </a>
                </div>
                <label for="shop-sidebar-catalog__submenu__item--n-collapse-checkbox--n"
                       class="shop-sidebar-catalog__submenu__item__collapse__label">
                    Ещё
                </label>
            </div>
        </div>
    </div>

</div>