.shop-btn {
    position: relative;
    display: inline-block;
    height: auto;
    line-height: 1;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.4rem 1rem 0.5rem 1rem;
    color: rgb(var(--shop-app-color));
    background-color: rgb(var(--shop-app-light-background-color));
    cursor: pointer;
    opacity: 1;
    user-select: none;
    outline: none;
    text-decoration: none;
    border: 1px solid rgb(var(--shop-app-light-background-color));
}

.shop-btn--square {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

.shop-btn .shop-icon--svg{
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.shop-btn--outline {
    background-color: rgb(var(--shop-app-background-color));
    border-color: rgba(var(--shop-app-color), 0.5);
}

.shop-btn--outline.shop-active {
    background-color: rgb(var(--shop-app-light-background-color));
    border-color: rgb(var(--shop-app-light-background-color));
}

.shop-btn:disabled {
    pointer-events: none;
    opacity: 0.6;
}

.shop-btn.shop-loading {
    pointer-events: none;
    user-select: none;
}

.shop-btn.shop-loading * {
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    opacity: 0;
}

.shop-btn.shop-loading:not(.shop-btn--square) > .shop-icon--svg:first-child {
    display: none;
}

.shop-btn.shop-loading::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin: -0.2rem 0.2rem -0.2rem 0;
    border: 0.25rem solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: shop-button-loading-spinner 1s ease infinite;
}

.shop-btn.shop-btn--square.shop-loading::before {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes shop-button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}