.shop-catalog {
    display: flex;
}

.shop-catalog__sidebar {
    width: 20rem;
    min-width: 20rem;
    padding-right: 2rem;
}

.shop-catalog__content {
    width: calc(100% - 20rem);
    min-width: calc(100% - 20rem);
}

.shop-catalog__content .shop-products__item {
    min-width: 25%;
    max-width: 25%;
}

.shop-catalog__filter {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.shop-catalog__filter__name {
    display: block;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.shop-catalog__filter__content {
    display: block;
    padding-left: 0.05rem;
}

.shop-catalog__filter__content ~ .shop-s-collapse__label {
    margin-top: 0.25rem;
}

.shop-catalog__filter__link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0;
}

.shop-catalog__filter__link:hover {
    opacity: 0.7;
}

.shop-catalog__filter + .shop-catalog__filter {
    margin-top: 1rem;
}

.shop-catalog__filter--switch {
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
}

.shop-catalog__filter--switch .shop-catalog__filter__name {
    margin-bottom: 0;
}

.shop-catalog__filter--switch .shop-catalog__filter__content {
    position: relative;
    margin-left: auto;
    width: 2.5rem;
}

.shop-catalog__filter--switch .shop-catalog__filter__content:before,
.shop-catalog__filter--switch .shop-catalog__filter__content:after {
    content: '';
    display: block;
    height: 1.4rem;
    width: 100%;
    background: rgb(var(--shop-app-color));
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem;
}

.shop-catalog__filter--switch .shop-catalog__filter__content:before {
    background: rgba(var(--shop-app-color), 0.2);
}

.shop-catalog__filter--switch .shop-catalog__filter__content:after {
    width: 1.4rem;
    background: rgba(var(--shop-app-background-color));
    transform-origin: center;
    transform: scale(0.8) translateX(0%);
    transition: transform 0.3s, background 0.3s;
}

.shop-catalog__filter--switch__checkbox:checked ~ .shop-catalog__filter__content:after {
    background: rgba(var(--shop-app-color));
    transform: scale(0.8) translateX(100%);
}

.shop-catalog__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
    font-size: inherit;
}

.shop-catalog__tag {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5rem;
}

.shop-catalog__tag__name {
    display: block;
    margin-right: 0.5rem;
    color: rgb(var(--shop-app-color));
    font-weight: 700;
    padding-top: 0.25rem;
}

.shop-catalog__tag__value {
    display: flex;
    background-color: rgb(var(--shop-app-color));
    color: rgb(var(--shop-app-background-color));
    margin-right: 0.2rem;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.shop-catalog__tag__close {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    margin-left: 0.2rem;
    top: 0.0625rem;
}

.shop-catalog__tag__close:hover {
    opacity: 0.8;
}

.shop-catalog__tag__close:before, .shop-catalog__tag__close:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 0.0625rem;
    background-color: rgb(var(--shop-app-background-color));
    transform-origin: center;
    transform: rotate(45deg);
}

.shop-catalog__tag__close:after {
    transform: rotate(-45deg);
}

.shop-catalog__sorts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.shop-catalog__sort {
    color: inherit;
    text-decoration: none;
    margin-right: 0.6rem;
    font-size: 0.9rem;
}

.shop-catalog__sort.shop-active {
    font-weight: 500;
}

a.shop-catalog__sort {
    text-decoration: underline;
}

a.shop-catalog__sort:hover {
    opacity: 0.8;
}