.shop-radio__label {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.shop-radio__label > .shop-radio__svg-icon {
    fill: currentColor;
    width: 1.3em;
    height: 1.3em;
    transform: scale(1.1);
    box-shadow: inset 0 0 0 0.2em currentColor;
    border-radius: 1em;
    position: relative;
    top: 0.3em;
    margin-right: 0.2em;
}

.shop-radio__svg-icon circle {
    opacity: 0;
}

.shop-radio:checked ~ .shop-radio__label > .shop-radio__svg-icon circle {
    opacity: 1;
}

.shop-radio:checked ~ .shop-radio__label::after {
    opacity: 1;
}

.shop-radio:disabled ~ .shop-radio__label {
    opacity: 0.5;
    cursor: auto;
}

.shop-success .shop-radio__label {
    color: rgb(var(--shop-app-success-color));
}

.shop-danger .shop-radio__label {
    color: rgb(var(--shop-app-danger-color));
}