<nav aria-label="Page navigation example">
    <ul class="shop-pagination">
        <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">1</a></li>
        <li class="shop-pagination__item"><span class="shop-pagination__link">...</span></li>
        <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">7</a></li>
        <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">8</a></li>
        <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">9</a></li>
        <li class="shop-pagination__item"><span class="shop-pagination__link">...</span></li>
        <li class="shop-pagination__item"><a class="shop-pagination__link" href="#">10</a></li>
    </ul>
</nav>