<section class="shop-product">
    <nav class="shop-product__breadcrumb__nav" aria-label="breadcrumb">
        <ol class="shop-product__breadcrumb shop-breadcrumb">
            <li class="shop-product__breadcrumb__item shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
            <li class="shop-product__breadcrumb__item shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
            <li class="shop-product__breadcrumb__item shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
            <li class="shop-product__breadcrumb__item shop-breadcrumb__item"><a href="#" class="shop-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
            <li class="shop-product__breadcrumb__item shop-breadcrumb__item shop-breadcrumb__item--active" aria-current="page">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>
        </ol>
    </nav>
    <div class="shop-product__head-buttons">
        <a href="/" class="shop-product__back shop-btn shop-btn--outline">
            <svg class="shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42a.996.996 0 0 0-1.41 0l-6.59 6.59a.996.996 0 0 0 0 1.41l6.59 6.59a.996.996 0 1 0 1.41-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
            <span class="shop-product__back-text">Вернуться</span>
        </a>
        <form class="shop-product__comparison" action="/products/123/comparison" method="post">
            <input type="hidden" name="id" value="123">
            <button class="shop-product__comparison__btn shop-btn shop-btn--outline" type="submit">
                <svg class="shop-product__comparison__icon-svg shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v1c0 .55.45 1 1 1s1-.45 1-1V2c0-.55-.45-1-1-1s-1 .45-1 1v1zm0 15H5l5-6v6zm9-15h-5v2h4c.55 0 1 .45 1 1v12l-5-6v9h5c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>
                <span class="shop-product__comparison__btn-text">Сравнить</span>
            </button>
        </form>
        <form class="shop-product__favorite" action="/products/123/favorite" method="post">
            <input type="hidden" name="id" value="123">
            <button class="shop-product__favorite__btn shop-btn shop-btn--outline" type="submit">
                <svg class="shop-product__favorite__icon-svg shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
                <span class="shop-product__favorite__btn-text">В избранное</span>
            </button>
        </form>
    </div>
    <div class="shop-product__images">
        <div class="shop-product__images__top">
            <button class="shop-product__images__top__btn shop-btn">
                <svg class="shop-product__images__top__btn__icon-svg shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.71 6.71a.996.996 0 0 0-1.41 0L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59a.996.996 0 1 0 1.41-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg>
            </button>
        </div>
        <div class="shop-product__images__bottom">
            <button class="shop-product__images__bottom__btn shop-btn">
                <svg class="shop-product__images__bottom__btn__icon-svg shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.71 6.71a.996.996 0 0 0-1.41 0L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59a.996.996 0 1 0 1.41-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg>
            </button>
        </div>

        <div class="shop-product__images__slider">
            <div class="shop-product__images__slider__container">
                <a href="./svg/300x360.svg" class="shop-product__images__slider__slide shop-active" data-fancybox="product" data-caption="Caption #1">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x300_2.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #2">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 300;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x300_2.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #3">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360_2.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #4">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #5">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360_2.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #6">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x300_2.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #7">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 300;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x300_2.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #8">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360_2.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #9">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #10">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="./svg/300x360_2.svg" class="shop-product__images__slider__slide" data-fancybox="product" data-caption="Caption #11">
                    <picture class="shop-product__images__slider__slide__picture" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__slider__slide__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                </a>
            </div>
        </div>

        <div class="shop-product__images__thumbs">
            <div class="shop-product__images__thumbs__scroll">
                <div class="shop-product__images__thumbs__scroll__viewer">
                    <picture class="shop-product__images__thumb shop-active" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 300;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x300_2.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 300;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x300_2.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360.svg" alt="">
                    </picture>
                    <picture class="shop-product__images__thumb" style="--shop-product__img-width: 300; --shop-product__img-height: 360;">
                        <img class="shop-product__images__thumb__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-product__main">
        <h1 class="shop-product__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>

        <div class="shop-product__attribute">
            <div class="shop-product__attribute__label">
                <b>Цвет:</b> бежевый
            </div>
            <div class="shop-product__attribute__values">
                <a href="#" class="shop-product__attribute__value shop-active">
                    <picture class="shop-product__attribute__picture">
                        <img class="shop-product__attribute__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="#" class="shop-product__attribute__value">
                    <picture class="shop-product__attribute__picture">
                        <img class="shop-product__attribute__img" src="./svg/300x300_2.svg" alt="">
                    </picture>
                </a>
                <a href="#" class="shop-product__attribute__value shop-disabled">
                    <picture class="shop-product__attribute__picture">
                        <img class="shop-product__attribute__img" src="./svg/300x360.svg" alt="">
                    </picture>
                </a>
                <a href="#" class="shop-product__attribute__value">
                    <picture class="shop-product__attribute__picture">
                        <img class="shop-product__attribute__img" src="./svg/300x360_2.svg" alt="">
                    </picture>
                </a>
            </div>
        </div>

        <div class="shop-product__attribute">
            <div class="shop-product__attribute__label">
                <b>Форма:</b> прямоугольная
            </div>
            <div class="shop-product__attribute__values">
                <a href="#" class="shop-product__attribute__value shop-active">
                    прямоугольная
                </a>
                <a href="#" class="shop-product__attribute__value">
                    прямоугольник с закруглёнными краями
                </a>
            </div>
        </div>

        <div class="shop-product__attribute">
            <div class="shop-product__attribute__label">
                <b>Длина, м:</b> 1.3
            </div>
            <div class="shop-product__attribute__values">
                <a href="#" class="shop-product__attribute__value">
                    0.65
                </a>
                <a href="#" class="shop-product__attribute__value shop-disabled">
                    0.6
                </a>
                <a href="#" class="shop-product__attribute__value">
                    0.98
                </a>
                <a href="#" class="shop-product__attribute__value">
                    1.2
                </a>
                <a href="#" class="shop-product__attribute__value shop-active">
                    1.3
                </a>
                <a href="#" class="shop-product__attribute__value">
                    1.65
                </a>
            </div>
        </div>

        <div class="shop-product__attribute">
            <div class="shop-product__attribute__label">
                <b>Ширина, м:</b> 2.2
            </div>
            <div class="shop-product__attribute__values">
                <a href="#" class="shop-product__attribute__value">
                    0.65
                </a>
                <a href="#" class="shop-product__attribute__value">
                    0.6
                </a>
                <a href="#" class="shop-product__attribute__value">
                    0.98
                </a>
                <a href="#" class="shop-product__attribute__value">
                    1.2
                </a>
                <a href="#" class="shop-product__attribute__value shop-active">
                    2.2
                </a>
            </div>
        </div>

        <div class="shop-product__characteristics">
            <div class="shop-product__characteristics__row">
                <div class="shop-product__characteristics__label">Артикул</div>
                <div class="shop-product__characteristics__value">782164871246</div>
            </div>
            <div class="shop-product__characteristics__row">
                <div class="shop-product__characteristics__label">Цвет товара</div>
                <div class="shop-product__characteristics__value">бежевый</div>
            </div>
            <div class="shop-product__characteristics__row">
                <div class="shop-product__characteristics__label">Размеры (ШxД)</div>
                <div class="shop-product__characteristics__value">2.20 x 1.30 м</div>
            </div>
            <div class="shop-product__characteristics__row">
                <div class="shop-product__characteristics__label">Количество в наборе</div>
                <div class="shop-product__characteristics__value">1 шт.</div>
            </div>
            <div class="shop-product__characteristics__row">
                <div class="shop-product__characteristics__label">Материал верха</div>
                <div class="shop-product__characteristics__value">EVA / ЕВА / ЭВА</div>
            </div>
        </div>
    </div>
    <div class="shop-product__cards">
        <div class="shop-product__card shop-product__card--prices">
            <div class="shop-product__prices-block">
                <div class="shop-product__price">2 000 руб</div>
                <div class="shop-product__old-price">3 000 руб</div>
            </div>
            <div class="shop-product__count">
                <form action="/products/11/minus" method="post" class="shop-product__count__minus">
                    <input type="hidden" name="id" value="11">
                    <button class="shop-product__count__minus__submit shop-btn" type="submit"
                            disabled>
                        <svg class="shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24">
                            <path d="M18 13H6c-.55 0-1-.45-1-1s.45-1 1-1h12c.55 0 1 .45 1 1s-.45 1-1 1z"/>
                        </svg>
                    </button>
                </form>
                <form action="/products/11/count" method="post" class="shop-product__count__setter">
                    <input type="hidden" name="id" value="11">
                    <label class="shop-product__count__label">
                        <input class="shop-product__count__input" type="number" min="1"
                               max="100" value="1" name="count">
                    </label>
                </form>
                <form action="/products/11/plus" method="post" class="shop-product__count__plus">
                    <input type="hidden" name="id" value="11">
                    <button class="shop-product__count__plus__submit shop-btn" type="submit">
                        <svg class="shop-icon--svg" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24">
                            <path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="shop-product__prices-buttons">
                <button class="shop-product__submit shop-btn" type="submit">В корзину</button>
            </div>
        </div>
        <div class="shop-product__card shop-product__card--delivery">
            <div class="shop-product__delivery__title">
                Доставка
            </div>
            <ul class="shop-product__delivery__list">
                <li class="shop-product__delivery__item">
                    <b>23 декабря</b>, пункт выдачи 0 руб <br>
                    улица Ленина, 999
                </li>
                <li class="shop-product__delivery__item">
                    <b>23 декабря</b>, курьер 99 руб <br>
                    улица Ленина, 999
                </li>
            </ul>
        </div>
    </div>
    <section class="shop-product__description">
        <h3 class="shop-product__description__title">О товаре</h3>
        <div class="shop-product__description__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fuga odio perspiciatis porro praesentium? Animi cumque, debitis enim error ex, illum ipsa magni minus modi perspiciatis quisquam reprehenderit vero voluptatibus.
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fuga odio perspiciatis porro praesentium? Animi cumque, debitis enim error ex, illum ipsa magni minus modi perspiciatis quisquam reprehenderit vero voluptatibus.
        </div>
    </section>
</section>