.shop-product {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.shop-product__breadcrumb__nav {
    min-width: calc(100% - 19rem);
    max-width: calc(100% - 19rem);
    margin-bottom: 1rem;
}

.shop-product__head-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 19rem;
    max-width: 19rem;
}

.shop-product__images {
    position: relative;
    min-width: 36rem;
    max-width: 36rem;
    height: 35rem;
    margin-bottom: 2rem;
}

.shop-product__main {
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: calc(100% - 56rem);
    max-width: calc(100% - 56rem);
    margin-bottom: 2rem;
}

.shop-product__cards {
    min-width: 20rem;
    max-width: 20rem;
    margin-bottom: 2rem;
}

.shop-product__description {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

.shop-product__breadcrumb__item.shop-breadcrumb__item--active {
    display: none;
}


.shop-product__comparison, .shop-product__favorite {
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.shop-product__images__thumb {
    --shop-product__img-width: 100;
    --shop-product__img-height: 120;
    display: block;
    position: relative;
    width: 100%;
    padding-top: calc(var(--shop-product__img-height) / var(--shop-product__img-width) * 100%);
    cursor: pointer;
    border-radius: 0.5rem;
}

.shop-product__images__thumb + .shop-product__images__thumb {
    margin-top: 0.5rem;
}

.shop-product__images__thumb.shop-active {
    box-shadow: 0 0 0 2px rgba(var(--shop-app-color));
}

.shop-product__images__slider {
    height: 35rem;
    width: 29.16rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 0.5rem;
    overflow: hidden;
}

.shop-product__images__slider__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shop-product__images__slider__slide {
    display: none;
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    min-width: 0;
    pointer-events: none;
}

.shop-product__fancybox--loaded .shop-product__images__slider__slide{
    pointer-events: auto;
}

.shop-product__images__slider__slide.shop-active {
    display: block;
}

.shop-product__images__slider__slide__picture, .shop-product__images__slider__slide__img {
    width: 100%;
    height: 100%;
    display: block;
}

.shop-product__images__slider__slide__img {
    object-fit: cover;
    object-position: center;
}

.shop-product__images__thumbs {
    width: calc(6rem + 2px);
    height: calc(100% + 2px);
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-left: -2px;
    margin-top: -2px;
}

.shop-product__images__thumbs__scroll {
    width: 10rem;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 2px 4rem 2px 2px;
}

.shop-product__images__thumb__img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.shop-product__images__top, .shop-product__images__bottom {
    position: absolute;
    left: -2px;
    top: -2px;
    background-color: rgb(var(--shop-app-background-color));
    padding: 0 0 0.1rem 0;
    z-index: 1;
    width: calc(6rem + 4px);
    display: none;
}

.shop-product__images__top__btn, .shop-product__images__bottom__btn {
    width: 100%;
    background-color: rgb(var(--shop-app-background-color));
    border-color: rgb(var(--shop-app-background-color));
    padding: 0;
    font-size: 1.5rem;
}

.shop-product__images__top__btn:hover, .shop-product__images__bottom__btn:hover {
    background-color: rgb(var(--shop-app-light-background-color));
}

.shop-product__images__top__btn__icon-svg {
    transform-origin: center;
    transform: rotate(90deg);
}

.shop-product__images__bottom {
    padding: 0.1rem 0 0 0;
    top: auto;
    bottom: -2px;
}

.shop-product__images__bottom__btn {

}

.shop-product__images__bottom__btn__icon-svg {
    transform-origin: center;
    transform: rotate(-90deg);
}

.shop-product__images__thumbs__scroll__viewer {
    display: block;
}

.shop-product__images__top, .shop-product__images__bottom {
    display: block;
}

.shop-product__images__thumbs:hover ~ .shop-product__images__top,
.shop-product__images__thumbs:hover ~ .shop-product__images__bottom,
.shop-product__images__top:hover, .shop-product__images__bottom:hover {
    display: block;
}

.shop-product__title {
    font-size: 1.6rem;
}

.shop-product__attribute {
    margin-bottom: 0.6rem;
}

.shop-product__attribute__label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.shop-product__attribute__values {
    display: flex;
    flex-wrap: wrap;
}

.shop-product__attribute__value {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(var(--shop-app-color), 0.3);
    position: relative;
    max-width: 13rem;
    text-decoration: none;
    color: rgba(var(--shop-app-color), 1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.2rem 0.5rem;
    font-weight: 700;
}

.shop-product__attribute__value.shop-active {
    border-style: solid;
    border-color: rgba(var(--shop-app-color), 1);
    pointer-events: none;
}

.shop-product__attribute__value:not(.shop-active):hover {
    border-color: rgba(var(--shop-app-color), 0.8);
}

.shop-product__attribute__value.shop-disabled {
    border-style: dotted;
    color: rgba(var(--shop-app-color), 0.5);
    pointer-events: none;
}

.shop-product__attribute__value.shop-disabled .shop-product__attribute__picture {
    opacity: 0.5;
}

.shop-product__attribute__picture {
    display: block;
    width: 4rem;
    height: 4rem;
    position: relative;
    margin: -0.2rem -0.5rem;
}

.shop-product__attribute__img {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 0.3rem;
    object-fit: contain;
    object-position: center;
}

.shop-product__characteristics {
    margin-bottom: 0.8rem;
}

.shop-product__characteristics__row {
    margin-bottom: 0.2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.shop-product__characteristics__label {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 50%;
    max-width: 50%;
}

.shop-product__characteristics__label:after {
    content: "";
    display: block;
    flex-basis: 1rem;
    min-width: 1rem;
    flex-grow: 1;
    border-bottom: 1px solid rgba(var(--shop-app-color), 0.3);
    transform: translateY(-0.3rem);
    margin-left: 0.5rem;
}

.shop-product__characteristics__value {
    display: block;
    min-width: 50%;
    max-width: 50%;
    padding-left: 0.5rem;
}

.shop-product__card--prices {

}

.shop-product__card {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0.2rem 0.6rem 0.2rem rgba(var(--shop-app-light-background-color), 1);
    border-radius: 1rem;
}

.shop-product__prices-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.shop-product__price {
    margin-right: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.shop-product__old-price {
    font-size: 1rem;
    text-decoration: line-through;
    opacity: 0.5;
}

.shop-product__prices-buttons {
    display: block;
    width: 100%;
}

.shop-product__submit {
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(var(--shop-app-success-color));
    color: white;
    border: none;
}

.shop-product__card--delivery {

}

.shop-product__delivery__title {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.shop-product__delivery__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shop-product__delivery__item {
    margin: 0 0 0.5rem 0;
    padding: 0 0 0 1rem;
    font-size: 0.9rem;
    position: relative;
    line-height: 1.2;
}

.shop-product__delivery__item:before {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 0.2rem;
    top: 0.5rem;
    background-color: rgba(var(--shop-app-color), 0.4);
}

.shop-product__description__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.shop-product__description__content {
    font-size: 1rem;
    font-weight: 400;
}


.shop-product__count {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.shop-product__count__minus {
    display: block;
}

.shop-product__count__minus__submit, .shop-product__count__plus__submit {
    font-size: 1rem;
    padding: 0.5rem;
    height: 2rem;
    border: none;
    background-color: rgb(var(--shop-app-light-background-color));
    color: rgb(var(--shop-app-color));
}

.shop-product__count__minus__submit:disabled, .shop-product__count__plus__submit:disabled {
    opacity: 1;
}

.shop-product__count__minus__submit {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.2rem;
}

.shop-product__count__minus__submit:disabled, .shop-product__count__plus__submit:disabled {
    color: rgba(var(--shop-app-color), 0.5);
}

.shop-product__count__setter {
    display: block;
}

.shop-product__count__label {
    display: block;
    position: relative;
}

.shop-product__count__label.shop-loading {
    pointer-events: none;
    user-select: none;
}

.shop-product__count__label.shop-loading .shop-product__count__input {
    pointer-events: none;
    user-select: none;
    color: transparent;
}

.shop-product__count__label.shop-loading::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    border: 0.25rem solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: shop-product__count__label-loading-spinner 1s ease infinite;
}

@keyframes shop-product__count__label-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.shop-product__count__input {
    -moz-appearance: textfield;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.2rem;
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: rgb(var(--shop-app-light-background-color));
    color: rgb(var(--shop-app-color));
    outline: none;
}

.shop-product__count__input:hover,
.shop-product__count__input:focus {
    /*noinspection CssInvalidPropertyValue*/
    -moz-appearance: number-input;
}

.shop-product__count__input::-webkit-outer-spin-button,
.shop-product__count__input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.shop-product__count__plus {
    display: block;
}

.shop-product__count__plus__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.2rem;
}

.shop-product__back {
    display: none;
}

.shop-product__comparison__btn.shop-active,
.shop-product__favorite__btn.shop-active {
    background-color: rgb(var(--shop-app-background-color));
    border-color: rgba(var(--shop-app-color), 0.5);
}

.shop-product__comparison__btn.shop-active .shop-product__comparison__icon-svg,
.shop-product__favorite__btn.shop-active .shop-product__favorite__icon-svg
{
    color: rgb(var(--shop-app-danger-color));
}

.shop-product__favorite__btn .shop-product__favorite__icon-svg path:nth-child(1) {
    opacity: 0;
    transform: scale(1.2);
    transform-origin: center;
}

.shop-product__favorite__btn.shop-active .shop-product__favorite__icon-svg path:nth-child(1),
.shop-product__favorite.shop-active .shop-product__favorite__icon-svg path:nth-child(1) {
    opacity: 1;
}

.shop-product__comparison__btn.shop-loading .shop-product__comparison__btn-text,
.shop-product__favorite__btn.shop-loading .shop-product__favorite__btn-text
{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1460px) {
    .shop-product__images {
        min-width: 30rem;
        max-width: 30rem;
        height: 27.6rem;
        margin-bottom: 1rem;
    }

    .shop-product__images__slider {
        height: 27.6rem;
        width: 23rem;
    }

    .shop-product__main {
        min-width: calc(100% - 50rem);
        max-width: calc(100% - 50rem);
        margin-bottom: 1rem;
    }

    .shop-product__cards {
        margin-bottom: 1rem;
    }
}

@media (max-width: 1399px) {
    .shop-product__images {
        min-width: 20rem;
        max-width: 20rem;
        height: 28.5rem;
    }

    .shop-product__images:after {
        content: '';
        position: absolute;
        left: -2px;
        top: calc(100% + 2px);
        height: 1rem;
        width: calc(100% + 4px);
        background-color: rgba(var(--shop-app-background-color));
    }

    .shop-product__images__slider {
        height: 24rem;
        width: 100%;
    }

    .shop-product__images__thumbs {
        width: 100%;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 24.5rem;
    }

    .shop-product__images__thumbs__scroll {
        width: 100%;
        padding: 2px;
    }

    .shop-product__images__thumbs__scroll__viewer {
        display: flex;
        width: fit-content;
    }

    .shop-product__images__thumb {
        height: 4rem;
        max-width: 3.3333rem;
        min-width: 3.3333rem;
        padding-top: 0;
    }

    .shop-product__images__thumb__img {
        object-position: center;
        object-fit: cover;
    }

    .shop-product__images__thumb + .shop-product__images__thumb {
        margin: 0 0 0 0.5rem;
    }

    .shop-product__images__top {
        top: calc(24.5rem - 2px);
        height: calc(4rem + 4px);
        width: 2rem;
    }

    .shop-product__images__top__btn, .shop-product__images__bottom__btn {
        width: 100%;
        height: 100%;
    }

    .shop-product__images__top__btn__icon-svg {
        transform: rotate(0deg);
    }

    .shop-product__images__bottom {
        top: calc(24.5rem - 2px);
        left: auto;
        right: -2px;
        height: calc(4rem + 4px);
        width: 2rem;
    }

    .shop-product__images__bottom__btn__icon-svg {
        transform: rotate(180deg);
    }

    .shop-product__main {
        min-width: calc(100% - 40rem);
        max-width: calc(100% - 40rem);
    }
}

@media (max-width: 1199px) {
    .shop-product__main {
        min-width: calc(100% - 20rem);
        max-width: calc(100% - 20rem);
    }

    .shop-product__cards {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .shop-product__breadcrumb__nav {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        display: none;
    }

    .shop-product__head-buttons {
        min-width: 100%;
        max-width: 100%;
    }

    .shop-product__back {
        display: block;
        margin-right: auto;
        margin-bottom: auto;
    }
}

@media (max-width: 767px) {
    .shop-product__images {
        min-width: 100%;
        max-width: 100%;
    }

    .shop-product__main {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .shop-product__images__slider {
        height: auto;
        padding-top: 120%;
        position: relative;
        margin-bottom: 1rem;
    }

    .shop-product__images {
        height: auto;
    }

    .shop-product__images__thumbs {
        position: relative;
        top: auto;
        left: auto;
        border-radius: 0;
    }

    .shop-product__images__top, .shop-product__images__bottom {
        top: auto;
        bottom: calc(1rem - 2px);
    }

    .shop-product__images__thumbs__scroll {
        padding: 0;
    }

    .shop-product__images__thumbs__scroll__viewer {
        padding: 2px;
    }

    .shop-product {
        padding-top: 0.5rem;
    }

    .shop-product__head-buttons {
        margin-bottom: 1rem;
    }
}

@media (max-width: 470px) {
    .shop-product__comparison, .shop-product__favorite, .shop-product__back {
        margin-bottom: 0;
    }

    .shop-product__comparison__btn, .shop-product__favorite__btn, .shop-product__back {
        border-color: transparent;
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    .shop-product__back-text, .shop-product__comparison__btn-text, .shop-product__favorite__btn-text {
        display: none;
    }

    .shop-product__images {
        padding-top: 120%;
        height: auto;
    }

    .shop-product__images__thumbs {
        display: none;
    }

    .shop-product__images__top, .shop-product__images__bottom {
        display: none;
    }

    .shop-product__images__slider {
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .shop-product__images__slider__container {
        position: relative;
        width: auto;
    }

    .shop-product__images__slider__slide {
        display: block;
    }

    .shop-product__comparison__btn.shop-active,
    .shop-product__favorite__btn.shop-active {
        background-color: transparent;
        border-color: transparent;
    }
}