<div class="shop-menu">
    <ul class="shop-menu__list">
        <li class="shop-menu__list__item">
            <a href="#" class="shop-menu__list__link">
                Поиск и выбор товаров
            </a>
        </li>
        <li class="shop-menu__list__item">
            <a href="#" class="shop-menu__list__link">
                Как выбрать из нескольких моделей
            </a>
        </li>
        <li class="shop-menu__list__item">
            <input id="shop-menu__list__checkbox--1" class="shop-menu__list__checkbox" type="checkbox" hidden="hidden" checked>
            <label for="shop-menu__list__checkbox--1" class="shop-menu__list__label"></label>
            <a href="#" class="shop-menu__list__link">
                Поиск и выбор товаров
            </a>
            <ul class="shop-menu__list" style="--shop-items-count: 3">
                <li class="shop-menu__list__item shop-active">
                    <a href="#" class="shop-menu__list__link">
                        Поиск и выбор товаров
                    </a>
                </li>
                <li class="shop-menu__list__item">
                    <a href="#" class="shop-menu__list__link">
                        Как выбрать из нескольких моделей
                    </a>
                </li>
                <li class="shop-menu__list__item">
                    <a href="#" class="shop-menu__list__link">
                        Как выбрать товар в конкретном магазине
                    </a>
                </li>
            </ul>
        </li>
        <li class="shop-menu__list__item">
            <a href="#" class="shop-menu__list__link">
                Поиск и выбор товаров
            </a>
        </li>
        <li class="shop-menu__list__item">
            <a href="#" class="shop-menu__list__link">
                Как выбрать из нескольких моделей
            </a>
        </li>
    </ul>
</div>