.shop-menu {

}

.shop-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.shop-menu__list__item {
    padding: 0 0 0 1.25rem;
    margin: 0;
    position: relative;
}

.shop-menu__list__label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25rem;
    height: 2rem;
    cursor: pointer;
}

.shop-menu__list__label:before {
    content: '';
    position: absolute;
    display: block;
    left: 0.25rem;
    top: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    transform-origin: center;
    transform: translateY(-50%) rotate(-135deg);
    border-left: 1px solid rgb(var(--shop-app-color));
    border-bottom: 1px solid rgb(var(--shop-app-color));
    transition: transform 0.25s;
}

.shop-menu__list__link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0.4375rem 0.75rem 0.4375rem 1.25rem;
    margin-left: -1.25rem;
    border-radius: 0.25rem;
}

.shop-menu__list__link:hover, .shop-menu__list__link:focus {
    background-color: rgba(var(--shop-app-color), 0.1);
    outline: none;
    box-shadow: none;
}

.shop-menu__list__label:hover ~ .shop-menu__list__link {
    background-color: rgba(var(--shop-app-color), 0.1);
}

.shop-menu__list__item.shop-active > .shop-menu__list__link {
    background-color: rgba(var(--shop-app-color), 0.2);
}

.shop-menu__list .shop-menu__list {
    --shop-items-count: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
}

.shop-menu__list__checkbox:checked ~ .shop-menu__list {
    max-height: calc(var(--shop-items-count) * 5rem);
}

.shop-menu__list__checkbox:checked ~ .shop-menu__list__label:before {
    transform: translateY(-77%) rotate(-45deg);
}