<div class="shop-tabs">
    <input id="shop-tabs__0" class="shop-tabs__checkbox" type="radio" name="shop-tabs__1" hidden checked>
    <input id="shop-tabs__1" class="shop-tabs__checkbox" type="radio" name="shop-tabs__1" hidden>
    <nav class="shop-tabs__nav">
        <label for="shop-tabs__0" class="shop-tabs__link">Lorem 1</label>
        <label for="shop-tabs__1" class="shop-tabs__link">Lorem 2</label>
    </nav>
    <div class="shop-tabs__content">
        <div class="shop-tabs__pane">
            Content 1
        </div>
        <div class="shop-tabs__pane">
            Content 2
        </div>
    </div>
</div>